* {
  background-color: #ffffeb;
}

a{
  color: #ffffeb;
  background-color: #003049;
  text-decoration: none;
}
a:visited {
  color:#ffffeb;
  text-decoration: none;
}
.navbar {
  background-color: #003049;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.header_logo {
  height: 180px;
  width: 180px;
  background-color:#003049 ;
  border-radius: 100%;
}

form button {
  background-color: var(--primary-button-hover);
  margin: 1em 0;
  color: var(--link-color-secondary);
  align-self: center;
  width: 100%;
}

form button:hover {
  opacity: 0.7;
}

form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}