.landing {
  background-color: #003049;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_link {
  background-color: transparent;
  height: 80%;
  position: fixed;
  display: block;
  margin: auto auto 130px auto;
  display: flex;
  justify-content: center;
}

.hero_img {
  background-color: transparent;
  height: 90%;
  position: relative;
}

.sidenav {
  color: #ffffeb;
  background-color: transparent;
  height: 80%;
  width: 66px;
  position: fixed;
  right: 0;
  padding-top: 30px;
}

.home {
  background-image: url("https://gdurl.com/lQzR");
  background-position: center;
  background-size:contain;
  height: 1200px;
}

.sign_in {
  background-image: url("https://gdurl.com/lQzR");
  background-position: center;
  background-size:contain;
  height: 1200px;
  padding-top: 15px;
}

.register {
  background-image: url("https://gdurl.com/lQzR");
  background-position: center;
  background-size:contain;
  height: 1200px;
  padding-top: 15px;
}

.recipes_list {
  background-image: url("https://gdurl.com/lQzR");
  background-position: center;
  background-size:contain;
}

.list_all {
  background-image: url("https://gdurl.com/lQzR");
  background-position: center;
  background-size:contain;
}

.new_recipe {
  background-image: url("https://gdurl.com/lQzR");
  background-position: center;
  background-size:contain;
  height: 1200px;
  padding-top: 15px;
}

.about {
  background-image: url("https://gdurl.com/lQzR");
  background-position: center;
  background-size:contain;
  height: 1200px;
}

.details_page {
  background-image: url("https://gdurl.com/lQzR");
  background-position: center;
  background-size:contain;
  height: 2000px;
}

.sidenav_links {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  height: 140px;
  width: 75px;
  background-color: #003049;
  margin: 10px;
  border-radius: 0 3px 20px 0 ;
  box-shadow: 6px -6px 9px -4px #003049;
}

.sidenav_links:hover {
  margin: 13px 13px 10px 10px;
  box-shadow: 8px -6px 10px -8px #003049;
}

.tab {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.navbar_container {
  background-color: #003049;
  background-position: center;
  background-size:contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 3px solid #D95830;
}

.pub_opts {
  background-color: #003049;
  margin-top: 150px; 
}

.pub_opts2 {
  background-color: #003049;
  margin-top: 150px; 
}

.pub_opts span a {
  font-size: 18px;
}

.pub_opts2 span a {
  font-size: 18px;
}

.pub_opts span {
  padding-left: 25px;
  background-color: transparent;
}

.pub_opts2 span {
  padding-right: 25px;
  background-color: transparent;
}

.nav_links {
  margin-top: 150px;
  font-size: 24px;
  background-color: #003049;  
}

.food {
  width: 66%;
  max-height: 336px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
  border: 3px solid #003049;
  border-radius: 8px;
  box-shadow: 6px -6px 9px -4px #003049;
  background-color: transparent;
}

.recipe_card {
  width: 66%;
  max-height: 336px;
  margin: 10px auto 35px auto;
  display: block;
  object-fit: cover;
  border: 3px solid #003049;
  border-radius: 8px;
  box-shadow: 6px 0 15px #2a2a2a;
  background-color: transparent;
}

.recipe_grid {
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.details_grid {
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.recipe_title {
  color: #003049;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'League Gothic', sans-serif;
  margin: 15px auto 2px auto;
  font-size: 48px;
  background-color: transparent;
}

.home_title {
  color: #003049;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'League Gothic', sans-serif;
  margin: 0px auto 2px auto;
  padding-top: 15px;
  font-size: 48px;
  background-color: transparent;
}

.details_container {
  background-image: url("https://gdurl.com/lKJW");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 66%;
  height: 700px;
  margin: 2px auto 285px auto;
  text-align: left;
  font-size: 11px;
  background-color: transparent;

}

.details_header {
  color: #003049;
  letter-spacing: 3px;
  padding-top: 120px;
  padding-left: 55px;
  font-family: 'Courier Prime', monospace;
  font-size: 36px;
  background-color: transparent;
}

.details_header2 {
  color: #003049;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-left: 55px;
  font-family: 'Courier Prime', monospace;
  font-size: 36px;
  background-color: transparent;
}

.detail, ul {
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
  color: #003049;
  background-color: transparent;
  padding: 0 40px 0 100px
}
.banks {
  background-color: transparent;
  color: #003049;
  font-weight: bold;
}

.forms_section{
  background-color: transparent;
  margin: -270px auto 0 auto;
  height: 636px;
  width: 550px;
  border: 3px solid #003049;
  background-color: #ffffeb;
  border-radius: 15px;
  box-shadow: 6px 0 15px #2a2a2a;
}

.forms_section_sign_in{
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  height: 406px;
  width: 550px;
  border: 3px solid #003049;
  background-color: #ffffeb;
  border-radius: 15px;
  box-shadow: 6px 0 15px #2a2a2a;
}

.buffer {
  margin-bottom: 10px;
}

.forms_section_new_recipe{
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  height: 496px;
  width: 550px;
  border: 3px solid #003049;
  background-color: #ffffeb;
  border-radius: 15px;
  box-shadow: 6px 0 15px #2a2a2a;
}

.forms_section_register{
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  height: 556px;
  width: 590px;
  border: 3px solid #003049;
  background-color: #ffffeb;
  border-radius: 15px;
  box-shadow: 6px 0 15px #2a2a2a;
}

.forms_header {
  color: #003049;
  letter-spacing: 3px;
  font-family: 'Courier Prime', monospace;
  font-size: 36px;
  background-color: transparent;
  margin-top: -10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 3px solid #003049;
}

.forms_header_update {
  color: #003049;
  letter-spacing: 3px;
  font-family: 'Courier Prime', monospace;
  font-size: 36px;
  background-color: transparent;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 3px solid #003049;
}

.form_container {
  align-items: center;
  display: grid;
  grid-template-rows: [title] 16.6% [image] 16.6% [ingredients] 16.6% [directions] 16.6% [category] 16.6% [button];
  justify-content: center;
  justify-items:flex-end;
  background-color: transparent;
  margin: auto;
}

.form_container_sign_in {
  align-items: center;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  justify-content: center;
  justify-items:flex-end;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.form_container_register {
  align-items: center;
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  justify-content: center;
  justify-items:flex-end;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding-top: 40px;
}

.input1_register label {
  font-family: 'Courier Prime', monospace;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffeb;
  margin: 5px 5px 5px auto;
}

.input1_register input {
  background-color: white;
  height: 24px;
  width: 180px;
  margin: 50px auto 15px auto;
  }

form {
  background-color: transparent;
  margin: -30px auto auto auto;
}

.input1 {
  padding: 6px;
  background-color: transparent;
}

.input1_sign_in {
  padding: 6px;
  background-color: transparent;
}

.new_email {
  padding: 6px;
  background-color: transparent;
}

.new_email label {
  font-family: 'Courier Prime', monospace;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffeb;
  margin: 5px 5px 5px auto;
}

.new_email input {
  background-color: white;
  height: 24px;
  width: 180px;
  margin: 50px auto 15px auto;
}

.input1_sign_in label {
  font-family: 'Courier Prime', monospace;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffeb;
  margin: 5px 5px 5px auto;
}

.input1_sign_in input {
  background-color: white;
  height: 24px;
  width: 180px;
  margin: 50px auto 15px auto;
  }

.input2 {
  padding: 6px;
  background-color: transparent;
}

.input1 label {
  font-family: 'Courier Prime', monospace;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffeb;
  margin: 5px 5px 5px auto;
}

.input2 label {
  font-family: 'Courier Prime', monospace;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffeb;
  margin-right: 5px;
}

.input1 input {
background-color: white;
height: 24px;
width: 180px;
margin: 5px 5px 15px auto;
}

.input1 textarea {
background-color: white;
height: 63px;
width: 180px;
margin-right: 5px;
border: 2px solid black;
}

.input2 textarea {
  background-color: white;
  height: 63px;
  width: 180px;
  margin-top: 45px;
  margin-right: 5px;
  border: 2px solid black;
  }

  .input1_sign_in textarea {
    background-color: white;
    height: 63px;
    width: 180px;
    margin-right: 5px;
    border: 2px solid black;
    }


.input1 select {
  background-color: white;
  height: 24px;
  width: 190px;
  margin-top: 55px;
  margin-right: 5px;
  border: 2px solid black;
}

.button1 {
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4px;
}



.button_sign_in {
  background-color: transparent;
  padding-top: 40px;
  margin: auto;
}

.button_sign_in button {
  background-color: white;
  font-weight: bold;
  height: 48px;
  width: 100px;
}

.button2 {
  background-color: transparent;
  padding-top: 10px;
}

.button1 button {
  background-color: white;
  font-weight: bold;
  height: 48px;
  width: 100px;
}

.button2 button {
  background-color: white;
  font-weight: bold;
  height: 48px;
  width: 100px;
}
