.sidenav {
  color: #ffffeb;
  background-color: transparent;
  height: 80%;
  width: 66px;
  position: fixed;
  z-index: 1;
  top: 160px;
  right: 0;
  overflow-x: hidden;
  padding-top: 60px;
}

.home {
  background-image: url("https://gdurl.com/lQzR");
  /* background-image: url("https://gdurl.com/qd1J"); */
  background-position: center;
  background-size:contain
}

.recipes_list {
  background-image: url("https://gdurl.com/lQzR");
  /* background-image: url("https://gdurl.com/qd1J"); */
  background-position: center;
  background-size:contain
}

.form {
  background-image: url("https://gdurl.com/lQzR");
  /* background-image: url("https://gdurl.com/qd1J"); */
  background-position: center;
  background-size:contain
}

.details_page {
  background-image: url("https://gdurl.com/lQzR");
  /* background-image: url("https://gdurl.com/qd1J"); */
  background-position: center;
  background-size:contain;
  height: 2000px;
}

.form_container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent;
  height: auto;
}

input {
  background-color: white;
  margin: 10px;
  height: 28px;
}

.submit_button{
height: 60px;
width: auto
}

.sidenav_links {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  height: 140px;
  width: 75px;
  background-color: #003049;
  margin: 10px;
  border-radius: 0 3px 20px 0 ;
  /* box-shadow: 3px -2px 6px -2px #2a2a2a; */
  box-shadow: 6px -6px 9px -4px #003049;
}

.sidenav_links:hover {
  margin: 13px 13px 10px 10px;
  /* box-shadow: 5px -2px 8px -2px #464646; */
  box-shadow: 8px -6px 10px -8px #003049;
}

.tab {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.navbar_container {
  background-color: #003049;
  /* background-image: url("https://gdurl.com/rSJn"); */
  background-position: center;
  background-size:contain;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 36;
  border-bottom: 3px solid #D95830;
}

.nav_links {
  margin-top: 150px;
  font-size: 20px;
  
}

.food {
  width: 66%;
  max-height: 336px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px ;
  display: block;
  object-fit: cover;
  border: 3px solid #003049;
  border-radius: 8px;
  box-shadow: 6px -6px 9px -4px #003049;
  background-color: transparent;
}

.recipe_card {
  width: 66%;
  max-height: 336px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 35px ;
  display: block;
  object-fit: cover;
  border: 3px solid #003049;
  border-radius: 8px;
  box-shadow: 6px 0 15px #2a2a2a;
  background-color: transparent;
}

.recipe_grid {
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.details_grid {
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.recipe_title {
  color: #003049;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'League Gothic', sans-serif;
  margin-bottom: 2px;
  font-size: 48px;
  background-color: transparent;
}

.details_container {
  background-image: url("https://gdurl.com/lKJW");
  background-size: cover;
  width: 66%;
  height: 700px;
  text-align: left;
  margin-top: 2px;
  margin-left: 17%;
  font-size: 13px;
  background-color: transparent;

}

.details_header {
  color: #003049;
  letter-spacing: 3px;
  padding-top: 120px;
  padding-left: 60px;
  font-family: 'Indie Flower', cursive;
  font-size: 38px;
  background-color: transparent;
}

.details_header2 {
  color: #003049;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-left: 60px;
  font-family: 'Indie Flower', cursive;
  font-size: 38px;
  background-color: transparent;
}


.detail {
  font-family: 'Courier Prime', monospace;
  color: #003049;
  background-color: transparent;
  padding-left: 100px;
}

.landing {
  background-color: #003049;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.landing_link {
  background-color: transparent;
  height: 60%;
  position: fixed;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero_img {
  background-color: transparent;
  height: 60%;
  position: fixed;
  display: block;
  margin: auto;

}

